@model PokemonApp.Models.Pokemon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PokemonRegionId" class="control-label">Región</label>
                <select asp-for="PokemonRegionId" class ="form-control" asp-items="ViewBag.PokemonRegionId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PokemonTypeId" class="control-label">Tipo</label>
                <select asp-for="PokemonTypeId" class ="form-control" asp-items="ViewBag.PokemonTypeId"></select>
            </div>
            @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, 
              new { enctype = "multipart/form-data" }))
                {  
                    <label for="file">Upload Image:</label> 
                    <input type="file" name="file" id="file" style="width: 100%;" /> 
                    <input type="submit" value="Upload" class="submit" /> 
                }
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
