@model PokemonApp.Models.PokemonType

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar tipo</h1>

<h3>¿Estás seguro que quieres eliminar este tipo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
    </form>
</div>
