@model PokemonApp.Models.PokemonType

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del tipo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>
